html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  gap: 1em;
}

#theme-switch-container {
  position: absolute;
  right: 0;
  margin: 1em;
  z-index: 2;
  border: 1px solid;
  border-color: var(--calcite-ui-border-1);
  background-color: var(--calcite-ui-foreground-1);
}

.theme-icon {
  padding: .5em;
  cursor: pointer;
}
