html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

h1.title {
  padding-left: 1em;
}

#theme-switch-container {
  position: absolute;
  top: 1em;
  right: 1em;
  padding: 1em;
}

#theme-switch-label {
  padding-right: 0.5em;
  text-transform: capitalize;
}
