html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  gap: 1em;
}

#theme-switch-label {
  padding-right: 0.5em;
  text-transform: capitalize;
}
